# JetBrains IDEs (IntelliJ IDEA, etc.)
.idea/
*.iml
*.iws
*.ipr

# Operating System Files
.DS_Store
Thumbs.db

# Editor and IDE backup files
*~
*.swp
*.swo




/datasets/Angelina-YOLO/
/datasets/DSBI-YOLO/
/datasets/MergedDataset-Crops/
/datasets/MergedDataset-YOLO/
/datasets/NaturalScene-YOLO/
/datasets/raw/
/.pixi/
